@page "/"

@using Controllers
@using Actions.Movements;

<div class="container" @onkeydown="@KeyDown" @onkeydown:preventDefault="true" tabindex="0">
    <div class="heading">
        <h1 class="title">2048</h1>
        <div class="scores-container">
            <div class="score-container">@CurrentGame.score.Value</div>
            <div class="best-container">@CurrentGame.BestScore</div>
        </div>
    </div>
    <div class="above-game">
        <p class="game-intro">Join the tiles, get to <strong>2048!</strong><br><a href="#"
                class="how-to-play-link">How to play →</a></p><button class="restart-button" @onclick="@CurrentGame.Restart">New Game</button>
    </div>
    <div class="game-container">
        <div class="game-message">
            <p></p>
            <div class="lower"><a class="keep-playing-button">Keep going</a>
                <a class="retry-button">Try again</a>
            </div>
        </div>
        @* <UITableGrid game="@CurrentGame" /> *@
        <table class="grid-container-table">
            @for(int i = 0; i < CurrentGame.grid.Rows; i++)
            {
        <tr class="tr">
            @for(int j = 0; j < CurrentGame.grid.Columns; j++)
            {
                <td class="td">
                <div class="tile" style="background-color: @CurrentGame.grid.Cells[i,j]?.BackgroundColor; color: @CurrentGame.grid.Cells[i,j]?.NumberColor;">
                        @CurrentGame.grid.Cells[i,j]?.Value
                </div>
                </td>
            }
        </tr>
    }
</table>
    </div>
    <div class="game-explanation-container">
        <p class="game-explanation"><strong class="important">How to play:</strong>
            <span class="game-explanation-mouse">Use your <strong>arrow keys</strong></span><span
                class="game-explanation-touch">Swipe with <strong>your fingers</strong></span>
            to move the tiles. Tiles with the same number
            <strong>merge into one</strong> when they touch. Add them up to reach
            <strong>2048!</strong><br><a href="javascript:void(0)" class="start-playing-link">Start playing →</a>
        </p>
    </div>
</div>

@code{

    public Game2048 CurrentGame = new Game2048();

    public void KeyDown(KeyboardEventArgs e)
    {
		switch (e.Key)
		{
			case "ArrowLeft":  new MoveLeft().Execute(CurrentGame.grid); break;
			case "ArrowRight": new MoveRight().Execute(CurrentGame.grid); break;
			case "ArrowUp":    new MoveUp().Execute(CurrentGame.grid); break;
			case "ArrowDown":  new MoveDown().Execute(CurrentGame.grid); break;
			default: return;
		}
        CurrentGame.grid.GenerateRandomTile();
        CurrentGame.score.UpdateScore(CurrentGame.grid);
    }
}
